body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #121212;
}

.avatar {
    object-fit: cover;
    object-position: 9% 0%;
    max-width: 40%;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #003049;
    color: #fdf0d5;
    border-bottom: 7px solid #c1121f;
    border-radius: 10px;
    box-shadow: 15px 15px #fdf0d5;
}

.italic {
    font-style: italic;
}

.avatar:hover {
    outline: 5px solid #780000;
}

.rainbow-text {
    animation: rainbow 10s infinite linear;
}

@keyframes rainbow {
    0% {color: red;}
    20% {color: orange; }
    40% {color: yellow; }
    60% {color: green; }
    80% {color: blue; }
    100% {color: violet; }
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s) check
- add border radius check
- shuffle the layout check
- shadows        🤯 check
- hover effects  🤯🤯 check
- animations     🤯🤯🤯 check
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
